<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <models>
            <api_import>
                <class>Danslo_ApiImport_Model</class>
                <resourceModel>api_import_resource</resourceModel>
            </api_import>
            <api_import_resource>
                <class>Danslo_ApiImport_Model_Resource</class>
            </api_import_resource>
        </models>
        <helpers>
            <api_import>
                <class>Danslo_ApiImport_Helper</class>
            </api_import>
        </helpers>
        <api_import>
            <import_entities>
                <catalog_product>
                    <model_token>api_import/import_entity_product</model_token>
                    <label>XMLRPC Products</label>
                </catalog_product>
                <catalog_category>
                    <model_token>api_import/import_entity_category</model_token>
                    <label>XMLRPC Categories</label>
                </catalog_category>
            </import_entities>
        </api_import>
        <importexport>
            <import_product_types>
                <bundle>api_import/import_entity_product_type_bundle</bundle>
            </import_product_types>
        </importexport>
    </global>
    <default>
        <api_import>
            <import_settings>
                <bunch_num>1000</bunch_num>
                <enable_stock_index>1</enable_stock_index>
                <enable_price_index>1</enable_price_index>
                <enable_category_relation_index>1</enable_category_relation_index>
                <enable_attribute_index>1</enable_attribute_index>
                <enable_search_index>1</enable_search_index>
                <enable_rewrite_index>1</enable_rewrite_index>
            </import_settings>
        </api_import>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <api_import>
                                            <title>API Import Settings</title>
                                        </api_import>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
