<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Danslo_ApiImport>
            <active>true</active>
            <codePool>local</codePool>
            <depends>
                <Mage_ImportExport />
            </depends>
        </Danslo_ApiImport>
    </modules>
    <global>
        <events>
            <api_import_entity_product_after_import>
                <observers>
                    <api_import_index_products>
                        <class>Danslo_ApiImport_Model_Observer</class>
                        <method>indexProducts</method>
                        <type>singleton</type>
                    </api_import_index_products>
                </observers>
            </api_import_entity_product_after_import>
            <api_import_entity_category_after_import>
                <observers>
                    <api_import_index_categories>
                        <class>Danslo_ApiImport_Model_Observer</class>
                        <method>indexCategories</method>
                        <type>singleton</type>
                    </api_import_index_categories>
                </observers>
            </api_import_entity_category_after_import>
        </events>
        <api_import>
            <import_entities>
                <catalog_product>
                    <model_token>Danslo_ApiImport_Model_Import_Entity_Product</model_token>
                    <label>Products</label>
                </catalog_product>
                <catalog_category>
                    <model_token>Danslo_ApiImport_Model_Import_Entity_Category</model_token>
                    <label>Categories</label>
                </catalog_category>
                <customer_composite>
                    <model_token>Danslo_ApiImport_Model_Import_Entity_CustomerComposite</model_token>
                    <label>Customers</label>
                </customer_composite>
            </import_entities>
        </api_import>
        <importexport>
            <import_product_types>
                <bundle>Danslo_ApiImport_Model_Import_Entity_Product_Type_Bundle</bundle>
                <grouped>Danslo_ApiImport_Model_Import_Entity_Product_Type_Grouped</grouped>
            </import_product_types>
        </importexport>
    </global>
    <default>
        <api_import>
            <import_settings>
                <bunch_num>1000</bunch_num>
                <enable_stock_index>1</enable_stock_index>
                <enable_price_index>1</enable_price_index>
                <enable_category_relation_index>1</enable_category_relation_index>
                <enable_attribute_index>1</enable_attribute_index>
                <enable_search_index>1</enable_search_index>
                <enable_rewrite_index>1</enable_rewrite_index>
            </import_settings>
        </api_import>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <api_import>
                                            <title>API Import Settings</title>
                                        </api_import>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
